@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');


body {
  background-image: "/src/assets/paper-texture.jpg";
  margin-left: auto;
  margin-right: auto;
  overflow: 'hidden';
  font-weight: 600px;
} 

#UserProfile {
  text-align: right;
}

